
* {
    margin: 0;
    padding: 0;
}


.body {
    font-family: 'Montserrat', sans-serif;
}


.wrapper {
    // width: 1000px;
    margin: 0 auto;  
}

.header {
    background-image: url(/img/images10/img.png);
    background-size: cover;
    min-height: 100vh;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    padding: 50px 0 140px 90px;
}

.header__menu {
    display: flex;
    padding-top: 40px;
    list-style: none;
}

.menu__list {
    font-weight: bold;
    border-top: 2px solid transparent;
    padding: 20px;
}

.menu__link {
    color: black;
    text-decoration: none;
}

.menu__link:hover {
    border-top: 2px solid red;
}

.header__title{
    padding-left: 165px;
}

.title__heading {
    font-size: -webkit-xxx-large;  
}

.title__pharagraf {
    width: 375px;
    padding-top: 20px;
}

.title__button {
    color: white;
    background-color: salmon;
    border: none;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
}

.title__skroll {
    text-align: center;
    padding-top: 320px;
}

.about {
    display: flex;
    background-color: #00b8b8;
}

.about__text {
    color: white;
    margin: 180px 50px;
    width: 500px;
}

.about__heading {
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 20px;
}
