* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blog {
  background-color: #a257e9;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 100px;
}

.blog__header {
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .blog__header {
    display: flex;
    margin: 0 auto;
  }
}
.blog__title {
  text-align: center;
  color: white;
  font-size: 90px;
  padding-top: 120px;
  margin-bottom: 50px;
}
.blog__pharagraf {
  text-align: center;
  color: white;
  width: 500px;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .blog__pharagraf {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 300px;
  }
}

.blog-photo {
  width: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .blog-photo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0;
  }
}
.blog-photo__section {
  display: flex;
  box-shadow: 0 0 0 1px #52539e, 0 0 100px #333;
  margin: 30px;
  border-radius: 10%;
}
@media screen and (max-width: 992px) {
  .blog-photo__section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 20px;
    width: 300px;
  }
}
.blog-photo .bg1 {
  background-image: linear-gradient(rgba(226, 227, 243, 0), #07081a), url(/img/img7/gorohhh.png);
  background-size: cover;
}
.blog-photo .bg2 {
  background-image: linear-gradient(rgba(226, 227, 243, 0), #07081a), url(/img/img7/img.png);
  background-size: cover;
}
.blog-photo .bg3 {
  background-image: linear-gradient(rgba(226, 227, 243, 0), #07081a), url(/img/img7/red.png);
  background-size: cover;
}
.blog-photo__text {
  color: white;
  width: 280px;
  position: relative;
  text-align: start;
}
.blog-photo__data {
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.24);
  width: 60px;
  margin: 20px;
  border-radius: 10%;
}
.blog-photo__small {
  padding-left: 20px;
}

.blog-photo__title {
  padding-top: 60px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.blog-btn {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .blog-btn {
    justify-content: start;
    margin-left: 20px;
  }
}
.blog-btn__button {
  padding: 20px;
  background-color: #e64040;
  width: 200px;
  height: 60px;
  color: white;
  box-shadow: 0 1px 10px #333;
  border: none;
}