* {
  margin: 0;
  padding: 0;
}

.body {
  font-family: "Montserrat", sans-serif;
}

.header {
  background-image: url(/img/images10/img.png);
  background-size: cover;
  min-height: 100vh;
}
@media screen and (max-width: 992px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  padding: 50px 0 140px 90px;
}
@media screen and (max-width: 992px) {
  .header__logo {
    padding: 0;
    padding-left: 135px;
  }
}

.header__menu {
  display: flex;
  padding-top: 40px;
  list-style: none;
}
@media screen and (max-width: 992px) {
  .header__menu {
    background: linear-gradient(rgba(236, 13, 57, 0.94), #f1eaea0a);
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }
}

.menu__list {
  font-weight: bold;
  border-top: 2px solid transparent;
  padding: 20px;
}

.menu__link {
  color: black;
  text-decoration: none;
}

.menu__link:hover {
  border-top: 2px solid red;
}

.header__title {
  padding-left: 165px;
}

.title__heading {
  font-size: -webkit-xxx-large;
}
@media screen and (max-width: 576px) {
  .title__heading {
    font-size: x-large;
  }
}

.title__pharagraf {
  width: 375px;
  padding-top: 20px;
}
@media screen and (max-width: 576px) {
  .title__pharagraf {
    display: none;
  }
}

.title__button {
  color: white;
  background-color: #ee264e;
  border: none;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
}

.about {
  background-color: #00b8b8;
}

.cont-about {
  display: flex;
  flex-direction: row-reverse;
}

.about__text {
  color: white;
  margin: 180px 50px;
  width: 500px;
}
@media screen and (max-width: 992px) {
  .about__text {
    position: absolute;
    text-shadow: 1px 1px 1px #000;
    padding-left: 70px;
  }
}
@media screen and (max-width: 564px) {
  .about__text {
    font-size: small;
    position: static;
    padding: 10px;
    text-shadow: none;
  }
}

@media screen and (max-width: 992px) {
  .about__img {
    width: 100%;
  }
}
@media screen and (max-width: 564px) {
  .about__img {
    display: none;
  }
}

.about__heading {
  font-weight: bold;
  font-size: 50px;
  padding-bottom: 20px;
}