* {
    margin: 0;
    padding: 0;
}
main {
    width: 1200px;
    min-height: 1100px;
    margin: 0 auto;
    border: 1px solid gray;
}
.content {
    width: 1000px;
    border: 1px solid rgb(219, 219, 219);
    box-shadow: 0 0 100px 1px grey;
    margin: 0 auto;
    margin-top: 100px;
    text-align: start;
    padding: 150px;
    box-sizing: border-box;
}
button {
    border:1px solid rgb(224, 131, 25);
    color: rgb(224, 131, 25);
    padding: 15px 50px;
    font-family: sans-serif;
    font-size: medium;
    text-align: start;
    margin-top: 20px;
}
p {
    color: grey;
    padding-top: 20px;
    font-family: revert;
    font-size: larger;
}
.first-p:first-letter {
    font-family: serif;
    font-size: 100px;
    color: black;
    float:left; 
    margin: -15px 25px 0px 0px; 
}
span {
    font-family: serif;
    font-size: 50px;
    font-style: oblique;
}
.four-p {
    font-style: oblique;
    font-size: x-large;
}