* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blog {
    background-color: rgb(162, 87, 233);
    text-align: center;
    margin: 0 auto;
    padding-bottom: 100px;
}

.blog {
    &__header {
        margin: 0 auto;

        @media screen and (max-width:992px) {
            display: flex;
            margin: 0 auto;
        }
    }


    &__title {
        text-align: center;
        color: white;
        font-size: 90px;
        padding-top: 120px;
        margin-bottom: 50px;
    }

    &__pharagraf {
        text-align: center;
        color: white;
        width: 500px;
        margin: 0 auto;

        @media screen and (max-width:992px) {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            width: 300px;
        }
    }
}

.blog-photo {
    width: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    @media screen and (max-width:992px) {
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin: 0;
    }

    &__section {
        display: flex;
        box-shadow: 0 0 0 1px rgb(82, 83, 158), 0 0 100px #333;
        margin: 30px;
        border-radius: 10%;

        @media screen and (max-width:992px) {
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin: 20px;
            width: 300px;
        }
    }

    .bg1 {
        background-image: linear-gradient(rgba(226, 227, 243, 0), rgb(7, 8, 26)), url(/img/img7/gorohhh.png);
        background-size: cover;
    }

    .bg2 {
        background-image: linear-gradient(rgba(226, 227, 243, 0), rgb(7, 8, 26)), url(/img/img7/img.png);
        background-size: cover;
    }

    .bg3 {
        background-image: linear-gradient(rgba(226, 227, 243, 0), rgb(7, 8, 26)), url(/img/img7/red.png);
        background-size: cover;
    }

    &__text {
        color: white;
        width: 280px;
        // width: 370px;
        // height: 300px;
        position: relative;
        text-align: start;
    }

    &__data {
        font-size: 30px;
        // padding: 15px;
        background-color: rgba(0, 0, 0, 0.24);
        width: 60px;
        margin: 20px;
        border-radius: 10%;
    }


    &__small {
        padding-left: 20px;
    }
}

.blog-photo__title {
    padding-top: 60px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.blog-btn {
    display: flex;
    justify-content: center;


    @media screen and (max-width:992px) {
        justify-content: start;
        margin-left: 20px;
    }

    &__button {
        padding: 20px;
        background-color: rgb(230, 64, 64);
        width: 200px;
        height: 60px;
        color: white;
        box-shadow: 0 1px 10px #333;
        border: none;

    }

}