
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}
.content{
    margin: 0 auto;
    background-image: url(img/img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1500px;
   
}
form {
    padding-bottom: 100px;
}
input {
    margin: 20px;
    background-color: rgb(123 238 199 / 35%);
    width: 500px;
    height: 50px;
    border: none;
    outline: none;
    padding: 20px;
}
input:focus,
textarea:focus {
    background: rgb(157, 208, 221); 
    border-left: 3px solid #29B0D9;
    cursor: pointer;
}
textarea {
    margin: 20px;
    background-color: rgb(123 238 199 / 35%);
    width: 500px;
    height: 250px;
    border: none;
    outline: none;
    resize: none;
    padding: 20px;
}
.main {
    display: flex;
    justify-content: center;
    max-width: 100px;
    margin: 0 auto;
}
.header {
    text-align: center;
    padding: 50px;
}
.contact {
    padding-left: 100px;
}
h1 {
    font-size: -webkit-xxx-large;
    font-weight: bolder;
}
h2 {
    padding: 15px 0 15px 0;
}
footer {
    background-image: url(img/2ce2f1a8-b7e4-4049-b913-a512e8c92354.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    width: 1500px;
    margin: 0 auto;
    background-color: #262626;
    color: white;
    padding: 20px 0;
}
footer p {
    margin: 40px;
}
span {
    color:#6e2837;
    font-weight: bolder;
}