* {
    margin: 0;
    padding: 0;
}
body {
    color: gray;
    width: 1270px;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: revert;
}
.header {
    margin: 0 auto;
    text-align: center;
    width: 700px;
    margin-top: 100px;
}
h1 {
   font-size: 50px;
   margin: 30px;
   color: rgb(38, 206, 228);
}
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    text-align: center;
}
.select {
   width: 235px;
   height: 427px;
   border: 1px solid grey;
   background-color: #f0f8fe;
}
.img {
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    height: 100px;
    width: 100px;
}
.text {
    padding: 20px;
}
.select:hover {
    background-color: rgb(38, 206, 228);
    color: white;
}
.img1 {
    background-image: url(img/anhore1.svg);
}
.select:hover .img1 {
    background-image: url(img/anhore2.svg);
}
.img2 {
    background-image: url(img/diamond1.svg);
}
.select:hover .img2 {
    background-image: url(img/diamond2.svg);
}
.img3 {
    background-image: url(img/glass1.svg);
}
.select:hover .img3 {
    background-image: url(img/glass2.svg);
}
.img4 {
    background-image: url(img/monitor1.svg);
}
.select:hover .img4 {
    background-image: url(img/monitor2.svg);
}